@inherits LayoutComponentBase
<div class="page">
    <main class="mb-3">
        <NavMenu/>
        <article class="content px-4">
            @Body
        </article>

        <footer class="p-2 text-light text-end w-100 border-1 border-top border-dark position-absolute bottom-0"
            style="background-color: #14149c;">
            SOAR &copy;
        </footer>
    </main>
</div>
