@page "/"

<PageTitle>SOAR - Home</PageTitle>

<h1 class="text-center">Sustainable Oceans And Reefs</h1>
<div style="margin: 0 -1rem 0 -1rem;">
    <img src="images/ocean.jpeg" width="100%" />
</div>
<div class="d-flex flex-column w-100">
    <hr />
    <div class="d-flex flex-row p-5 gap-5">
        <div>
            <img src="soar.png"/>
        </div>
        <div>
            <h2 class="text-center">Conserving and restoring coral reefs.</h2>
            <p>Our mission at SOAR is to incorporate collaborative approaches to achieve our overarching goal of 
                conserving and restoring coral reefs and ultimately our oceans. We accomplish this by embracing 
                sustainability, holistic perspectives, and partnerships with diverse stakeholders to drive positive 
                change and ensure the long-term health, resilience, and well-being of these vital ecosystems.</p>
        </div>
    </div>
    <hr />
    <div class="d-flex flex-row p-5 gap-5">
        <div>
            <h2 style="font-size: 2rem;">Our organization.</h2>
            <p style="font-size: 2rem;">Find out about our mission and services.</p>
            <div>
                <NavLink class="btn btn-primary" href="/learnmore">Learn More</NavLink>
            </div>
        </div>
        <div class="flex-grow-1">
            <img src="images/scuba-divers.jpeg" width="100%"/>
        </div>
    </div>
</div>